/* border-box */
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    
    margin: 0;
}

.intro,
.three {
    padding: 24px 200px;

    display: flex;
    flex-direction: column;
}

/* *********** */
/* top section */
/* *********** */
.intro {
    background-color: #1F2937 ;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.links {
    display: flex;
    gap: 16px;
}

a, .text {
    color: #E5E7EB;
    font-size: 18px;
  }

a {
    text-decoration: none;
}

.info .text {
    margin-bottom: 24px;
}

.logo {
    height: auto;
    width: 100px;

    margin-right: 170px;
}

/* description */
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 120px 0;
    gap: 60px;
}

.info {
    display: flex;
    flex-direction: column;
    /* gap: 16px; */

    /* justify-content: center; */
    /* max-height: 450px; */
    /* overflow: hidden; */
}

h1 {
    margin: 0;
}

.title {
    font-weight: 700;
    font-size: 48px;
    color: #F9FAF8;

    margin-bottom: 8px;
}

.sign {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: #F9FAF8;
    padding: 8px 24px;

    font-weight: 700;
    font-size: 18px;
    max-width: 120px;

    cursor: pointer;
    
  }

  .sign:hover {
    background-color: #2E72C6; /* New background color when hovering */
    transition: background-color 0.3s ease;
}

.intro-img{
    height: auto;
    width: 500px;

}

/* ************** */
/* middle section */
/* ************** */
.middle {
    flex: 1;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 24px 260px 120px;
    gap: 24px;
}

.hobbies {
    display: flex;
    gap: 48px;
    justify-content: center;

    flex-wrap: wrap;
}

.hobbies-title {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.hobby-img {
    width: 180px;
    height: 180px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.hobbies div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;
}

.hobbies div p {
    color: #1F2937;
    margin: 0;
    max-width: 180px;
    text-align: center;
    
}

.two {
    padding: 120px 260px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;

}

.author {
    margin-left: auto;

    color: #1F2937;
    font-size: 22px;
    font-weight: 700;
}

.three {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 120px 200px;
}

.box {
    display: flex;
    background-color: #3882F6;
    width: 100%; 

    align-items: center;
    justify-content: space-between;

    padding: 44px 100px;
    border: none;
    border-radius: 8px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 4px;
}

h3 {
    margin: 0;
}

.news-title {
    font-size: 24px;
    color: #F9FAF8;
}

.box .sign {
    border: 1.5px solid #F9FAF8;
}

/* ****** */
/* footer */
/* ****** */
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 12px;
}